<!DOCTYPE html>
<html>
<head>
<title>Sunlight</title>
</head>

<body>
  <h1>What Have You Done</h1>
  <h1>{{zip}}</h1>

  <h1>House</h1>

  {{#each reps as |rep|}}
    <div class="rep">
      <div class="rep-pic">
        <a href="/reps/{{rep.pic}}">
           {{rep.pic}}
         </a>
      </div>

      <div class="rep-name">
        <a href="/reps/{{rep.name}}">
           {{rep.name}}
         </a>
      </div>

      <div class="rep-party">
        <a href="/reps/{{rep.party}}">
           {{rep.party}}
         </a>
      </div>
    </div>
  {{/each}}

  <h1>repate</h1>

  {{#each reps as |rep|}}
    <div class="rep">
      <div class="rep-pic">
        <a href="/reps/{{rep.pic}}">
           {{rep.pic}}
         </a>
      </div>

      <div class="rep-name">
        <a href="/reps/{{rep.name}}">
           {{rep.name}}
         </a>
      </div>

      <div class="rep-party">
        <a href="/reps/{{rep.party}}">
           {{rep.party}}
         </a>
      </div>
    </div>
  {{/each}}

</body>

</html>
