<div class="display-zip">
{{#each zip_numbers as |num|}}
  <span>{{num}}</span>
{{/each}} <!-- zip_numbers -->
  <p><a href="/" alt="change zip" title="change zip">Change Zip</a></p>
</div> <!-- display-zip -->

<h1 class="chamber">House</h1>
{{#each house_members as |legislator|}}
  <article class="profile">
    <section class="pic-holder">
      <img src="{{legislator.imageUrl}}">
    </section>
    <section class="details">
      <h1><a href="/legislator/{{legislator.bioguide_id}}">{{legislator.name}}</a></h1>
      <h2>{{legislator.party}}</h2>
    </section>
  </article>
{{/each}} <!-- legislator -->

<h1 class="chamber">Senate</h1>
{{#each senate_members as |legislator|}}
  <article class="profile">
    <section class="pic-holder">
      <img src="{{legislator.imageUrl}}">
    </section>
    <section class="details">
      <h1><a href="/legislator/{{legislator.bioguide_id}}">{{legislator.name}}</a></h1>
      <h2>{{legislator.party}}</h2>
    </section>
  </article>
{{/each}} <!-- legislator -->
