<div class="row text-center">
  <div class="col-sm-6 col-sm-offset-3 colored col-xs-12">
    <h1>What have you done?</h1>

    <a href="/">change zip</a>
    <div class="margin-30">
      <img class="photo img-circle" src={{legislator.photo}} />
    </div>
    <p class="larger">{{ legislator.partyLong }} Legislator</p class="larger">
    <h3 class="colored">{{ legislator.fullName }}</h3>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <div class="contact-info">
      <p>Contact Info</p>
      <div class="contact-content text-left">
        <p class="subtext smaller">
          Phone Number
        </p>
        <p>
          {{ legislator.phone }}
        </p>
        <p class="subtext smaller">
          Website
        </p>
        <p>
          {{ legislator.website }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center margin-30">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <p>Recent Votes</p>
    {{#each legislator.votes}}
      <div class="vote-box color-{{this.vote}}">
        <p class="larger">{{this.id}}</p>
        <p>{{this.title}}</p>
      </div>
    {{/each}}
  </div>
</div>