<h1>What Have You Done?</h1>
<h2>{{zip}}</h2>


{{#if data.senatePeeps}}
<h2>House Members</h2>
<div class="housemembers">

    {{#each data.housePeeps as |leg|}}
      <div class="">
        <a href="/legislator/{{leg.bioguide_id}}">{{leg.name}}</a>
      </div>
      <div class="">
        {{leg.party}}
      </div>
      <div class="">
        <a href="/legislator/{{leg.bioguide_id}}"><img src="{{leg.image}}" alt=""></a>
      </div>
    {{/each}}

</div>

<h2>Senate Members</h2>
<div class="senatemembers">

    {{#each data.senatePeeps as |leg|}}
      <div class="">
        <a href="/legislator/{{leg.bioguide_id}}">{{leg.name}}</a>
      </div>
      <div class="">
        {{leg.party}}
      </div>
      <div class="">
        <a href="/legislator/{{leg.bioguide_id}}"><img src="{{leg.image}}" alt=""></a>
      </div>
    {{/each}}

</div>

{{else}}
  <h1>No Members Found</h1>
{{/if}}
<!--can't do if else in HBS -->
