<div class="legislator-heading">
  <div class="photo">
    <img src="{{legislator.imageUrl}}">
  </div>
  
  <div class="legislator-name">
    <a href={{legislator.website}} target="_blank" alt="{{legislator.name}}'s Website" title="{{legislator.name}}'s Website">{{legislator.name}}
  </div>

  <div class="legislator-party-name">
    <h3>{{legislator.title}}</h3>
  </div>
</div>

<h3 class="center content-box-title">Contact Info</h3>
<div class="content-box">
  <div class="contact-name">Phone Number</div>
  <div class="contact-value">{{legislator.phone}}</div>
  <br>
  <div class="contact-name">Website</div>
  <div class="contact-value">
    <a href="{{legislator.website}}" target="_blank" alt="{{legislator.name}}'s Website" title="{{legislator.name}}'s Website">{{legislator.website}}</a>
  </div>
</div>

<br>

<h3 class="center content-box-title">Recent Votes</h3>

{{#each votes as |vote|}}
  <div class="vote {{vote.legislatorVote}}">
    <div class="bill-name">
      <a href="https://www.govtrack.us/congress/bills/{{vote.congress}}/{{vote.bill_type}}{{vote.number}}" target="_blank" alt="bill" title="bill"><strong>{{vote.billId}}</strong></a>
    </div>
    <p class="bill-description"><b><u>Description:</u></b> {{vote.summary}}</p>
  </div>
{{/each}}