<div class="leg-header">
	<h1>{{legislator.name.firstName}} {{legislator.name.lastName}}</h1>

	<div class="leg-photo">
		<img src="https://theunitedstates.io/images/congress/225x275/{{legislator.id}}.jpg">
	</div>

	<p>
		<a href="mailto:{{legislator.contact.email}}">
			{{legislator.contact.email}}
		</a><br>
		{{legislator.contact.phone}}<br>
		<a href="{{legislator.contact.website}}">
			{{legislator.contact.website}}
		</a>
	</p>
</div>

<div>
	{{#each votes as |vote|}}
		<div class="{{vote.vote}} vote">
			<h2>{{vote.bill_id}}</h2>
			<p>{{vote.title}}</p>
		</div>
	{{/each}}
</div>