<header>
	<h1>Legislators for {{zip}}</h1>
</header>

{{# each legislators as |legislator|}}
	<section class="legislator clearfix" id="{{legislator.id}}">
		<div class="leg-photo">
			<img src="https://theunitedstates.io/images/congress/225x275/{{legislator.id}}.jpg">
		</div>
		<div class="leg-info">
			<h2><a href="/legislators/{{id}}">{{legislator.name.firstName}} {{legislator.name.lastName}}</a></h2>

			<p>{{legislator.party}} {{legislator.title}}</p>
		</div>
	</section>
{{/each}}