<section class="legislator-bio">
  <section class="pic-holder">
    <img src="{{legislator.imageUrl}}">
  </section>
  <h3>member of the {{legislator.chamber}}</h3>
  <h1>{{legislator.name}}</h1>
</section>


<section class="contact">
  <h3>Contact Info</h3>
  <div class="contact-info-box small-box">
    <h4>Phone Number</h4>
    <p>{{legislator.phone}}</p>
    <h4>Website</h4>
    <p><a href="{{legislator.website}}" target="_blank" alt="{{legislator.name}}'s Website" title="{{legislator.name}}'s Website">{{legislator.website}}</a></p>
  </div> <!-- contact-info-box -->

</section>

<section class="votes">
  <h3>Recent Votes</h3>
  <article class="vote voted-yes">
    <i class="material-icons">thumb_up</i>
    <h2>hr3180-115</h2>
    <p>To authorize appropriations for fiscal year 2018 for intelligence and intelligence-related activities of the United States Government, the Community Management Account, and the Central Intelligence Agency Retirement and Disability System, and for other purposes.</p>
  </article>

  <article class="vote voted-no">
    <i class="material-icons">thumb_down</i>
    <h2>s114-115</h2>
    <p>To authorize appropriations and to appropriate amounts for the Veterans Choice Program of the Department of Veterans Affairs, to improve hiring authorities of the Department, to authorize major medical facility leases, and for other purposes.</p>
  </article>

  <article class="vote">
    <i class="material-icons"></i>
    <h2>hr3219-115</h2>
    <p>Making appropriations for the Department of Defense for the fiscal year ending September 30, 2018, and for other purposes.</p>
  </article>

  <article class="vote">
    <i class="material-icons"></i>
    <h2>hjres111-115</h2>
    <p>Providing for congressional disapproval under chapter 8 of title 5, United States Code, of the rule submitted by Bureau of Consumer Financial Protection relating to "Arbitration Agreements".</p>
  </article>

</section>