<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img class="img-profile img-reponsive img-thumbnail" src={{legislator.img}} alt={{legislator.name}} />
        </div>
    </div>
</div>

<h5>{{legislator.chamber}}</h5>
<h1>{{legislator.name}}</h1>
<h4>{{legislator.party}}</h4>

<p>Phone Number: {{legislator.phone}}</p>
<p>Website: <a href={{legislator.website}} target="_blank">{{legislator.website}}</a></p>

<h3>Recent Votes</h3>
{{#each votes as |bill|}}
    <h4>{{bill.bill_id}}</h4>
    <p>{{bill.official_title}}</p>
{{/each}}