<h1>What Have You Done?</h1>
<h2>{{zip}}</h2>

<h2>House Members</h2>
{{#each data.housePeeps as |leg|}}
  <div class="">
    {{leg.name}}
  </div>
  <div class="">
    {{leg.party}}
  </div>
  <div class="">
    <img src="{{leg.image}}" alt="">

  </div>
{{/each}}

<h2>Senate Members</h2>
{{#each data.senatePeeps as |leg|}}
  <div class="">
    {{leg.name}}
  </div>
  <div class="">
    {{leg.party}}
  </div>
  <div class="">
    <img src="{{leg.image}}" alt="">

  </div>
{{/each}}

<!--can't do if else in HBS -->
