<h1 class="title heading">What Have You Done?</h1>
<h2 class="heading">{{zip}}</h2>


{{#if data.senatePeeps}}

  <h1 class="heading member" >House Members</h1>

  <div class="housemembers heading">

    {{#each data.housePeeps as |leg|}}
      <div class="pic-and-name">
        <div class="pic">
          <a href="/legislator/{{leg.bioguide_id}}"><img src="{{leg.image}}" alt=""></a>
        </div>
        <div class="info">
          <h2> <a href="/legislator/{{leg.bioguide_id}}">{{leg.name}}</a> </h2><br>
          <h2>({{leg.party}}) {{leg.chamber}} Member</h2>
        </div>
      </div>
    {{/each}}

  </div>

  <h1 class="heading member">Senate Members</h1>
  <div class="senatemembers heading">

    {{#each data.senatePeeps as |leg|}}
      <div class="pic-and-name">
        <div class="pic">
          <a href="/legislator/{{leg.bioguide_id}}"><img src="{{leg.image}}" alt=""></a>
        </div>
        <div class="info">
          <h2> <a href="/legislator/{{leg.bioguide_id}}">{{leg.name}}</a> </h2><br>
          <h2>({{leg.party}}) {{leg.chamber}} Member</h2>
        </div>
      </div>
    {{/each}}

  </div>

{{else}}
  <h1>No Members Found</h1>
{{/if}}
<!--can't do if else in HBS -->

<h5 class="heading"><a class="shoutout" href="https://github.com/coelacanth7">Built by Greg Alford</a></h5>
