<h1>What Have You Done?</h1>
      <h3>{{zip_code}}</h3>

<div class='body'>
  <div class="senate">
    <h1>House</h1>
    {{#each reps.Senate as |rep|}}
    <div class="rep">
      <div class='image'>
      <img src={{rep.photo}}
      </div>
      <section>
        <h2>{{rep.name}}</h2>
        <h3>{{rep.party}}</h3>
      </section>
    </div>
    {{/each}}
  </div>

    <div class="house">
      <h1>Senate</h1>
      {{#each reps.House as |rep|}}
      <div class="rep">
        <div class='image'>
        <img src={{rep.photo}}
        </div>
        <section>
          <h2>{{rep.name}}</h2>
          <h3>{{rep.party}}</h3>
        </section>
        </div>
      {{/each}}
    </div>
  </div>
