<header>
  <h1>Voting History of {{profile.first_name}} {{profile.middle_name}} {{profile.last_name}}</h1>
</header>

<main>
  <section class="profile-info">
    <img class="profile-pic" src="https://theunitedstates.io/images/congress/original/{{profile.bioguide_id}}.jpg" alt="">
    <h2>{{profile.first_name}} {{profile.middle_name}} {{profile.last_name}}</h2>
    <p>Party: <span class="political-party">{{profile.party}}</span></p>
    <address>
      <p>Email: <a href="mailto:{{profile.oc_email}}">{{profile.oc_email}}</a></p>
      <p>Facebook: <a href="https://www.facebook.com/{{profile.facebook_id}}">{{profile.facebook_id}}</a></p>
      <p>Twitter: <a href="https://twitter.com/{{profile.twitter_id}}">{{profile.twitter_id}}</a></p>
      <p>Phone Number: {{profile.phone}}</p>
      <p>Website: <a href="{{profile.website}}">{{profile.website}}</a></p>
    </address>
  </section>

  <h2 class="bill-list-header">My Voting History:</h2>
  <ul class="bill-list">
    {{#each bills as |bill|}}
    <li class="bill-item">
      <a class="bill-link" href="{{bill.bill.urls.govtrack}}"> 
        <h3 class="bill-id">{{bill.bill_id}}</h3>
        <p>{{bill.bill.official_title}}</p>
        <p class="my-vote">I Voted: <span class="my-vote">{{bill.my_vote}}</span></p>
      </a>
    </li>
    {{/each}}
  </ul>

</main>