
<header class="text-center">
  <img src="../images/US Capitol-96.png">
</header>

<section class="text-center">
  <h2>{{representative.name}} ({{representative.party}}, {{representative.chamber}})</h2>
  <h3>Contact:</h3>
  <h4>{{representative.phone}}</h4>
  <h4><a href={{representative.website}}>{{representative.website}}</a></h4>
</section>

<section style="margin-left: auto; margin-right: auto; width: 60%;">
  <h3>Recent votes:</h3>
  {{#each votes as |vote|}}
    {{#if vote.repVote}}
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><img src="../images/Thumb Up-50.png" width="30px" height="30px"> Bill <a href='{{vote.billURL}}' style="text-decoration: underline">{{vote.billID}}</a></h3>
        </div>
        <div class="panel-body">
          {{vote.billTitle}}
        </div>
      </div>
    {{else}}
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><img src="../images/Thumbs Down-50.png" width="30px" height="30px"> Bill <a href='{{vote.billURL}}' style="text-decoration: underline">{{vote.billID}}</a></h3>
        </div>
        <div class="panel-body">
          {{vote.billTitle}}
        </div>
      </div>
    {{/if}}
  {{/each}}
  </section>
